<span>
    {{ sample.title }}
</span>

<span ng-click="$event.stopPropagation();" class="pull-right">

    <a href ng-show="sample.local"
       title="Delete"
       ng-click="removeSample(sample)"><span class="glyphicon glyphicon-trash"></span></a>

    <a title="{{ sample.local ? 'Duplicate tab' : 'Modifications to this tab are not saved. You can copy it and work on your own version.'}}"
       ng-click="startNewSample(sample.code())"><span class="glyphicon glyphicon-duplicate"></span></a>

    <ng-include ng-show="sample.local && !sample.gist" src="'html/github-export.html'"></ng-include>

    <a ng-show="!sample.local || sample.gist"
       ng-href="{{ sample.link }}"
       title="Share sample"><span class="glyphicon glyphicon-link"></span></a>
</span>
