<div growl></div>

<div ng-keydown="keypress($event)" tabindex="0">

    <span ng-hide="embedded">
        <ng-include src="'html/title.html'"></ng-include>
    </span>

    <div class="row">

        <div class="{{embedded ? 'hidden' : 'col-md-3'}}">

            <ng-include src="'html/samples/samples-title.html'"></ng-include>
            <ng-include src="'html/samples/samples.html'"></ng-include>
            <ng-include src="'html/samples/import-gist.html'"></ng-include>
            <ng-include src="'html/samples/built-on.html'"></ng-include>
        </div>

        <!--setting the class dynamically using an expression happens after initialisation of GridCanvas-->
        <!--when that happens, $element[0].offsetWidth does not have its final value-->
        <!--this is the reason why we repeat the include with static classes-->
        <ng-include ng-if="embedded" class="col-xs-4" src="'html/screen/screen.html'"></ng-include>
        <ng-include ng-if="!embedded" class="col-md-3" src="'html/screen/screen.html'"></ng-include>

        <div class="{{embedded ? 'col-xs-8' : 'col-md-6'}}">
            <ng-include src="'html/editor.html'"></ng-include>
        </div>
    </div>

    <div ng-hide="embedded" class="github-fork-ribbon-wrapper right">
        <div class="github-fork-ribbon">
            <a href="https://github.com/JulienMoumne/rx-training-games">Fork me on GitHub</a>
        </div>
    </div>
</div>